<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs')%>
  </head>

  <body>
    <%- include('partials/navbar.ejs')%>
    <h1>Welcome to <%= name %></h1>
    <h2><%= description %></h2>
    <p><%= subscribers %></p>
    <ul>
      <% for(let post of posts) { %>
      <h3><%= post.title %></h3>
      <h4><%= post.author %></h4>
      <% if (post.img) { %>
      <img src="<%=post.img%>" />
      <% } %> <% }%>
    </ul>
  </body>
</html>
